@use "./breakpoints.scss" as breakpoints;

.footer {
    border-top: 1px solid var(--neutral-alpha-medium);
    border-radius: 0;
}

.footerInner {
    min-height: 48px;
}

@media (max-width: breakpoints.$s) {
    .footerInner {
        text-align: center;
    }
}
